@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Jaro", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "MuseoModerno", sans-serif; */

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100vh;
    background: #232323;
    /* font-family: "Jaro", sans-serif; */
    font-family: "MuseoModerno", sans-serif;
    color: white;
    background-attachment: fixed;
}

/* @media screen and (min-width: 500px) {
    body {
        background: red;
    }
} */

#back_button {
    position: fixed;
    top: 20px;
    left: 20px;
    display: none;
    /* background: none; */
}


#add_tricks_button {
    position: fixed;
    top: 20px;
    right: 20px;
    display: none;
}

#back_button, #add_tricks_button {
    background: none;
    border: 2px solid white;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
}

.skate_logo {
    width: 100%;
    height: 100%;
}

.container {
    display: grid;
    place-items: center;
    height: 100%;
}

#app-content {
    /* height: 40%; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 15px;
}

.landing_page_button {
    background-color: #fff;
    border: none;
    /* filter: drop-shadow(2px 2px 0px #fff); */
    width: 70vw;
    height: 5vh;
    font-size: 2rem;
    border-radius: 10px;
    font-weight: 700;
    font-family: "MuseoModerno", sans-serif;
}

ul {
    list-style-type: none;
}

.categorie {
    display: flex;
    flex-direction: column;
    width: 70vw;
    align-items: center;
    border-radius: 10px;
    margin: 10px 0;
    padding: 8px;
}

.categorie img {
    width: 90%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    padding-left: 5px;
    border-left: 5px solid #fff;
}

.tricks img {
    width: 40%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    padding-left: 5px;
    border-left: 5px solid #fff;
    height: auto;
    max-height: 100%;
}

.tricks_container {
    display: grid;
}

.tricks {
    display: flex;
    /* align-items: stretch; */
    /* Assure que les enfants prennent toute la hauteur */
    gap: 10px;
    /* Espace entre l'image et la div avec les textes */
    position: relative;
}

.tricks div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Aligne les éléments dans la div avec le texte */
    flex: 1;
    /* Permet à la div texte de s'étirer pour occuper la même hauteur que l'image */
}

#add_tricks_form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 2px solid red;
    height: 60vh;
    width: 80vw;
}

#title {
    margin-bottom: 5%;
}

.delete_tricks_btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    display: grid;
    place-items: center;
}

.delete_tricks_btn img {
    border: none;
    width: 80%;
    aspect-ratio: 1/1;
    z-index: -100;
}


/* SKATE ROULETTE CSS */
/* SKATE ROULETTE CSS */
.tricks_roulette {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.tricks_roulette img {
    width: 80%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    padding-left: 5px;
    border-left: 5px solid #fff;
    height: auto;
    max-height: 100%;
}


.tricks_roulette div {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
}
/* SKATE ROULETTE CSS */
/* SKATE ROULETTE CSS */
