<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="./../assets/css/style.css" />
    <title>Skate tricks</title>
  </head>

  <body>
    <main class="container">
      <button id="back_button"><img src="./../assets/icons/arrow-left.svg" alt="Icon bouton retour"></button>
      <button id="add_tricks_button"><img src="./../assets/icons/plus.svg" alt="Icon bouton ajouter"></button>
      <h1 id="title">Skatr APP</h1>
      <div id="app-content">
        <img class="skate_logo" src="./../assets/img/logosket.png" alt="Logo skate" />
        <!-- <button id="load-tricks" type="button" class="landing_page_button">Charger les Tricks</button> -->
        <button id="get_categ_button" type="button" class="landing_page_button">Voir les catégories</button>
        <button id="load-tricks" type="button" class="landing_page_button">Skate Roulette</button>
      </div>
    </main>
    <script src="./../assets/js/api.js"></script>
  </body>
</html>
